.page-loader {
	position: fixed;
	background: #000;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9998;
	display:none;
}
.loader {
	position: absolute;
	border-left: 2px solid #ffffff;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	height: 46px;
	width: 46px;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	margin: -23px 0 0 -23px;
	font-size: 10px;
	z-index: 9999;
	-webkit-animation: rotation 1.3s infinite linear;
	-moz-animation: rotation 1.3s infinite linear;
	ms-animation: rotation 1.3s infinite linear;
	o-animation: rotation 1.3s infinite linear;
	animation: rotation 1.3s infinite linear;
}
 @-webkit-keyframes rotation {
from {
-webkit-transform:rotate(0deg)
}
to {
-webkit-transform:rotate(360deg)
}
}
@-moz-keyframes rotation {
from {
-moz-transform:rotate(0deg)
}
to {
-moz-transform:rotate(360deg)
}
}
@-o-keyframes rotation {
from {
-o-transform:rotate(0deg)
}
to {
-o-transform:rotate(360deg)
}
}
@keyframes rotation {
from {
transform:rotate(0deg)
}
to {
transform:rotate(360deg)
}
}
